<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <h1>To Do List</h1>
    <form>
      <textarea v-model="newContent"></textarea>
      <button @click="addContent">Create</button>
    </form>
    <p>{{ newContent }}</p>
    <ul>
      <li v-for="(content, index) in contents" :key="content">
        {{ index }} {{ content }}
        <button @click="removeContent(index)">Delete</button>
        <button>Edit</button>
      </li>
    </ul>
  </div>

  <script src="main.js"></script>
</body>

</html>
