<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <h1>To Do List</h1>
    <form @submit.prevent>
      <textarea v-model="newContent"></textarea>
      <button @click="addContent">Create</button>
    </form>
    <ul>
      <li v-for="(content, index) in contents" :key="index">
        <div v-show="!content.editMode">
          {{ content.text }}
          <button @click="removeContent(index)">Delete</button>
          <button @click="changeEditMode(index)">Edit</button>
        </div>
        <div v-show="content.editMode">
          <form @submit.prevent>
            <textarea v-model="content.text"></textarea>
            <button @click="changeEditMode(index)">Cancel</button>
            <button @click="saveUpdatedContents(index)">Update</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <script src="main.js"></script>
</body>

</html>
