html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  background-color: #d4ccc9;
  height: 100%;
}

.main-form {
  background-color: white;
  width: 400px;
  padding-left: 50px;
}

.todo-list {
  background-color: white;
  width: 600px;
  padding-right: 20px;
  letter-spacing: 0.1em;
}

li {
  padding: 10px;
}

textarea {
  width: 250px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
}

button {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
}
